<header class="header">
  <div class="inner">
    <div class="nav">
      <div class="nav-left">
        <%= link_to image_tag("logo.png", class: :logo), root_path %>
      </div>

      <div class="search">
        <%= form_with url: search_posts_path, method: :get, class: :search_form,local: true do |f| %>
          <%= f.text_field :search, placeholder: "投稿検索", class:"input-search", id:"post_form_tag_name", maxlength:"40" %>
          <%= f.button :type => "submit", class:"search-btn" do %>
            <i class="fa-solid fa-magnifying-glass"></i>
          <%end%>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <div class="nav-right">
          <%= link_to "投稿", new_post_path, class:"nav-btn" %>
          <div class="nav-icon">
            <div class="btn-default">
              <div class="btn-bell">
                <%= link_to notifications_path do %>
                  <i class="bi bi-bell size"></i>
                <% end %>
              </div>
              <div class="bottom-right">
                <% if unchecked_notifications.any? %>
                  <i class="bi bi-circle-fill"></i>
                <% end %> 
              </div>
            </div>
            <ul class="menu-elements">
              <li id="menu1">
                <div class="btn-user",>
                  <i class="bi bi-person-circle size"></i>
                  <i class="bi bi-caret-down-fill"></i>
                </div>
                <ul class="menu1-lists hidden" id="menu1-pull-down">
                  <li><%= link_to 'マイページ', user_path(current_user) %></li>
                  <li><%= link_to 'チャットルーム', chats_path %></li>
                  <li><%= link_to 'いいね',  "/users/#{current_user.id}/likes" %></li>
                  <li><%= link_to 'フォロー', following_user_path(current_user)  %></li>
                  <li><%= link_to 'フォロワー', followers_user_path(current_user) %></li>
                  <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
         <i class="bi bi-list size" id="open"></i>
      <% else %>
        <div class="nav-right">
          <%= link_to "ログイン", new_user_session_path, class:"nav-btn" %>
          <%= link_to "新規登録", new_user_registration_path, class:"nav-btn" %>
        </div>
      <% end%>
    </div>
  </div>
</header>