 <div class="overlay">
  <i class="bi bi-x-square size" id="close"></i> 
  <ul>
    <li><%= link_to 'マイページ', user_path(current_user) %></li>
    <li><%= link_to 'チャットルーム', chats_path %></li>
    <li><%= link_to '通知', notifications_path %></li>
    <li><%= link_to 'いいね',  "/users/#{current_user.id}/likes" %></li>
    <li><%= link_to 'フォロー', following_user_path(current_user)  %></li>
    <li><%= link_to 'フォロワー', followers_user_path(current_user) %></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
  </ul>
</div>
<div class="flash">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>
<div class ="top">
  <div class='title-contents'>
    <h2 class='service-title'>
      教員の未来を明るくする教YOU
    </h2>
    <p class='service-explain'>
      教員の業務を教YOU（共有）できる！
    </p>
    <p class='service-explain'>
      教YOU（共有）アプリです
    </p>
  </div>
  <h2 class='title'>
    教YOUの特徴
  </h2>
  <div class='feature-contents'>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "idea.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          授業を教YOU
        </h3>
        <p class='feature-list-description'>
          日々の授業作成に悩む時間が無くなる！また、フィードバックをもらうことで授業のアップデートに繋がることも！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "communication.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          教員のコミュニティ
        </h3>
        <p class='feature-list-description'>
          情報交換やアドバイスし合うことで日々の業務に役立つヒントを得よう！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "teacher.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          授業をいいねで保存
        </h3>
        <p class='feature-list-description'>
          参考にしたい授業はいいねで保存！実際の授業でそのまま活用できる！
        </p>
      </li>
    </ul>
  </div>
</div>

<main class="main">
  <div class="inner">
    <div class="greeting">
      <% if user_signed_in? %>
        <%= "こんにちは" %>
        <%= link_to "#{current_user.nickname}", user_path(current_user), class: :greeting__link %>
        <%= "先生" %>
      <% end%> 
    </div>

    <div class="page-heading">
      <%= "みんなの投稿"%>
    </div>
    <ul class="card-wrap">
      <%= render partial: "post", collection: @posts %>
    </ul>
    <div class="paginate">
      <%= paginate @posts %>
    </div>
  </div>
</main>