<% breadcrumb :post_show, @post %>
<div class="container">
  <div class="wrap">
    <div class="card__header">
      <div class="user-image">
        <%= link_to user_path(@post.user.id) do %>
          <% if @post.user.image? %>
            <%= image_tag @post.user.image.url %>
          <% else %>
            <%= image_tag("/images/no-image.png") %>
          <% end %>
        <% end %>
      </div>
      <div class="user-name">
        <%= link_to "#{@post.user.nickname}先生", user_path(@post.user.id) %>
      </div>
      <div class="post-icon">
        <div class="like-btn">
          <div id="like-btn-<%= @post.id %>">
            <%= render 'likes/like', post: @post %> 
          </div>
        </div>
        <% if user_signed_in? && current_user.id == @post.user_id %>
          <div class="gear-icon">
            <%= link_to edit_post_path do %>
              <i class="bi bi-gear"></i>
            <% end %> 
          </div>
        <% end %>
      </div>
    </div>
    <div class="post__show__title">
      基本情報
    </div>

    <table class="table__2">
      <tbody>
        <tr>
          <th class="table__col5">学校項目</th>
          <td class="table__col6"><%= @post.school_list %></td>
        </tr>
        <tr>
          <th class="table__col5">科目名</th>
          <td class="table__col6"><%= @post.course%></td>
        </tr>
        <tr>
          <th class="table__col5">単元名</th>
          <td class="table__col6"><%= @post.unit %></td>
        </tr>
      </tbody>
    </table>
    <div class="post__show__title">
      授業の展開
    </div>

    <table class="table__3">
      <tbody>
        <th class="table__col7">導入<br class="br-sp">(<%= @post.introduction_time %>)分</th>
          <td class="table__col8"><%= @post.introduction %></td>
        </tr>
        <tr>
          <th class="table__col9">展開<br class="br-sp">(<%= @post.development_time %>)分</th>
          <td class="table__col10"><%= @post.development %></td>
        </tr>
        <tr>
          <th class="table__col7">まとめ<br class="br-sp">(<%= @post.summary_time %>)分</th>
          <td class="table__col8"><%= @post.summary %></td>
        </tr>
      </tbody>
    </table>
    <div class="post__show__title">
      添付資料
    </div>
    <div class="post-show-image">
      <% if @post.images.present? %>
        <div class="post-image">
          <div id="previews">
            <div class="slider">
              <% @post.images[0..-1].each do |image| %>
                <div class="slider-image">
                  <%= image_tag image %>
                </div>
              <%end%>
            </div>
          </div>
        </div>
      <% else %>
        <%= image_tag("/images/no-post.png") %>
      <% end %>
    </div>
    <div id="comment">
      <div class="post__show__title">
        コメント
      </div>
      <div class="post-comments">
        <div id="comments">
          <div class="h4">＜コメント一覧＞</div>
            <%= render "comment" %>
          </div>
        </div>
        <div class="comment-form">
          <% if user_signed_in? %>
            <%= form_with model: [@post, @comment], id: "comment-form" do |f| %>
              <div class="field">
                <%= f.text_field :content, id:"comment_content", class:"input-comment", placeholder:"コメントを入力してください"%>
              </div>
              <div class="actions">
                <%= f.submit "送信する", class: :form_btn  %>
              </div>
            <% end %>
          <% else %>
              <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
          <% end %> 
        </div> 
      </div>
    </div>
  </div>
</div>